[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
pillow = "*"
django-jinja = "*"
jinja2 = "*"
django-debug-toolbar = "==3.4.0"
djangorestframework = "*"
django-admin-sortable2 = "*"
celery = "*"
django-redis = "*"
django-ckeditor = "*"
django-filter = "*"
django-solo = "*"
django-modeltranslation = "*"
coverage = "*"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"
channels = "*"

[dev-packages]

[requires]
python_version = "3.10"
