{% extends 'base.jinja' %}

{% block title %}Login{% endblock title %}

{% block body %}
<form method="POST">{% csrf_token %}
    {{ form.as_p() }}
    <button>Submit</button>
</form>
<a href="{{ url("register") }}">Not have account yet?</a>
<a href="{{ url("reset") }}">Forgot your password?</a>
{% endblock body %}