
{% extends 'base.jinja' %}

{% block title %}Changed{% endblock title %}

{% block body %}
    <center>
    <h5>You password has been changed</h5>
        <a class="btn btn-primary" href="{{ url("home") }}">Okay</a>
    </center>
{% endblock body %}
