{% extends 'base.jinja' %}

{% block title %}Change password{% endblock title %}

{% block body %}
    <center>
        <h5>Change password</h5>
    </center>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p() }}
        <button>Submit</button>
    </form>
    <a class="btn btn-primary" href="{{ url("profile") }}">Back</a>
{% endblock body %}
