{% extends 'base.jinja' %}

{% block title %}Profile{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{{ static("account/css/profile.css") }}">
    <script src="{{ static("account/js/uploadAvatar.js") }}"></script>
{% endblock head %}

{% block body %}
    <br>
    <center>
        <h4>User settings</h4>
        <br>
        <div class="img-container">
          <img id="avatar" class="upper-image" src="{{ object.get_avatar() }}" alt="">
          <img id="upload" src="{{ static("account/images/upload.png") }}">
        </div>
    </center>

<form id="user_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p() }}
    <button class="btn btn-primary">Save</button>
    <a href="{{ url("account:password_change") }}">Change password</a>
    <br>
    <a href="{{ url("account:subscribes") }}" class="btn btn-success">Edit subscribers</a>
</form>
{% endblock body %}