{% extends 'base.jinja' %}

{% block title %}{{ _("Profile") }}{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{{ static("account/css/profile.css") }}">
    <link rel="stylesheet" href="{{ static("account/css/authentication.css") }}">
    <script src="{{ static("account/js/uploadAvatar.js") }}"></script>
{% endblock head %}

{% block body %}

        <div class="container">
        <div style="padding: 7em 0;">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="form-wrap py-5">
                        <h3 class="text-center mb-0">{{ _("Profile") }}</h3>
                        <br>
                        <center>
                        <div class="img-container">
                          <img id="avatar" class="upper-image" src="{{ object.get_avatar() }}" alt="">
                          <img id="upload" src="{{ static("account/images/upload.png") }}">
                        </div>
                        </center>
                        <form id="user_form" method="post" enctype="multipart/form-data" class="form-wrap">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <button type="submit" class="btn form-control btn-primary rounded submit px-3">{{ _("Submit") }}</button>
                        </form>

                        <br>

                        <div class="d-flex bd-highlight mt-4">
                            <a href="{{ url("account:password_change") }}" class="btn btn-success me-auto p-2 bd-highlight">{{ _("Change password") }}</a>
                            <a href="{{ url("account:subscribes") }}" class="btn btn-success p-2 bd-highlight">{{ _("Edit subscribers") }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
