{% extends 'base.jinja' %}

{% block title %}Register{% endblock title %}

{% block body %}
<form method="POST">{% csrf_token %}
    {{ form.as_p() }}
    <button>Submit</button>
</form>
{% endblock body %}