
{% extends 'base.jinja' %}

{% block title %}Registered{% endblock title %}

{% block body %}
    <center>
    <h5>You have been registered</h5>
    <p>Please verify your account email and login</p>
        <a class="btn btn-primary" href="{{ url("account:login") }}">Login</a>
    </center>
{% endblock body %}
