{% extends 'base.jinja' %}
{% block head %}
    <link rel="stylesheet" href="{{ static("account/css/authentication.css") }}">
{% endblock %}
{% block title %}{{ _("Sign up") }}{% endblock title %}

{% block body %}
    <div class="container">
        <div style="padding: 7em 0;">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="form-wrap py-5">
                        <h3 class="text-center mb-0">{{ _("SIGN UP") }}</h3>
                        <br>

                        <form method="post" class="form-wrap">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <button type="submit" class="btn form-control btn-primary rounded submit px-3">{{ _("Register") }}</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}