{% extends 'base.jinja' %}

{% block title %}{{ _("Reset") }}{% endblock title %}

{% block body %}
    <br>
    <center>
        <h4>{{ _("Reset") }}</h4>
        <p>{{ _("Reset email has been sent to your mailbox") }}</p>
        <a class="btn btn-success" href="{{ url("home") }}">{{ _("Okay") }}</a>
    </center>
{% endblock body %}