{% extends 'base.jinja' %}

{% block title %}Login{% endblock title %}

{% block body %}
    <br>
    <center>
        <h3>Your account has been verified</h3>
        <h4>Please login</h4>
        <a href="{% url('account:login') %}">Login</a>
    </center>
{% endblock body %}