{% extends 'base.jinja' %}
{% block title %}{{ _("Chat") }}{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ static("chat/css/chat.css") }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}

{{ request.user.username|json_script('username') }}

<div class="container py-5 px-4">

  <div class="row rounded-lg overflow-hidden shadow">
    <div class="px-0">
        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">{{ _("Chat") }}</p>
        </div>
      <div id="messages" class="px-4 py-5 chat-box bg-white"></div>

      <!-- Typing area -->
      <form id="chat_form" class="bg-light">
        <div class="input-group">
          <input name="message" type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock body %}