{% extends 'base.jinja' %}

{% block title %}List{% endblock title %}

{% block head %}
    <link href="{{ static("movie/css/quality-selector.css") }}" rel="stylesheet">
    <link href="{{ static("movie/css/video-js.css") }}" rel="stylesheet" />
    <link href="{{ static("movie/css/detail.css") }}" rel="stylesheet">

    <script src="{{ static("movie/js/operations.js") }}"></script>

    <script src="{{ static("movie/js/video.min.js") }}"></script>
    <script src="{{ static("movie/js/silvermine-videojs-quality-selector.min.js") }}"></script>

    <script src="{{ static("movie/js/change-episode.js") }}"></script>
    <script src="{{ static("movie/js/recommended-movie.js") }}"></script>

     {% if request.user.is_authenticated %}
        <script src="{{ static("movie/js/subscribe.js") }}"></script>
        <script src="{{ static("movie/js/review.js") }}"></script>
        <script src="{{ static("movie/js/rater.min.js") }}" charset="utf-8"></script>
    {% endif %}

    {% if object.style %}
        <style>
            {{ object.style.style }}
        </style>
    {% endif %}

{% endblock head %}

{% block body %}
    <script>
        {% if request.user.is_authenticated %}
            var username = "{{ request.user.username }}";
            var user_logo = "{{ request.user.get_avatar() }}";
        {% endif %}

        var anime_slug = "{{ object.slug }}";
        var anime_pk = {{ object.pk }};
        var season_pk = {{ season.pk }};
    </script>

    <div style="text-align: center;">
        <h4>{{ object }}: {{ season }}</h4>
        {% if request.user.is_authenticated %}
            <div id="subscribe">
                <button id="unsub" {% if not subscribe %}style="display: none" {% endif %} class="btn btn-secondary">Unsubscribe</button>
                <button id="sub" {% if subscribe %}style="display: none" {% endif %} class="btn btn-success">Subscribe</button>
            </div>
        {% endif %}
    </div>
    <hr>

    {% if rating %}
        <div id="rate"></div>

        <script>
                $("#rate").rate({
                    max_value: {{ settings.max_rating_val }},
                    step_size: {{ settings.min_rating_val }},
                    initial_value: {{ rating }},
                }).on("change", function(ev, data){
                    if(data.from != data.to) {
                       request("/api/v1/movie/rating/", "POST", "anime="+ {{ object.pk }} + "&val=" + data.to)
                    }

                });
        </script>
    {% endif %}


    {% set images = season.images.all() %}

    {% if images %}

        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item img-fluid {% if image == images|first %}active{% endif %}">
                  <img src="{{ image.file.url }}" class="d-block w-100" style="max-height:100vh; max-width: 50vh" alt="...">
                </div>
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    {% endif %}
    
    {% if season_list|length > 1 %}

        <center>
            <h4>Seasons</h4>
        </center>
        {% for num in season_list %}
           <a href="{{ url("movie:detail", slug=object.slug, season=num) }}" class="btn {% if season.number == num %}btn-primary{% else %}btn-info{% endif %}">{{ num }}</a>
        {% endfor %}
        <hr>
    {% endif %}

    {% if episode_list|length == 0 %}
        <center>
            <h4>Episodes not found</h4>
        </center>
    {% else %}

        <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="640" height="264" data-setup="{}">

        <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p>
        </video>
    {% endif %}
    <hr>

    <div id="episode-selector">
        {% if episode_list|length > 1 %}
            {% for eps in episode_list %}
                <button pk="{{ eps.pk }}" id="episode-{{ eps.number }}" class="btn btn-info">{{ eps.number }}</button>
            {% endfor %}
        {% endif %}
    </div>


    {% if form %}
    <div id="review">
        {{ form.media }}
        {{ form.as_p() }}
        <button class="btn btn-primary btn-sm">Send</button>
    </div>
    {% else %}
        <center>
            <h5>Authorize to post review</h5>
        </center>
    {% endif %}

        <hr>
        <div id="review-list">
            {% for review in reviews %}
                <p>{{ review.user__username }}: {{review.text | safe }} | Date: {{ review.datetime }}</p>
            {% endfor %}
        </div>


    <script>
      var options = {
           controlBar: {
              children: [
                 'playToggle',
                 'CurrentTimeDisplay',
                 'TimeDivider',
                 'DurationDisplay',
                 'progressControl',
                 'volumePanel',
                 'qualitySelector',
                 'pictureInPictureToggle',
                 'fullscreenToggle',
              ],
           },
        };
      var player = videojs('my-video', options, function () {});

    </script>


{% endblock body %}