{% extends 'base.jinja' %}

{% block title %}List{% endblock title %}

{% block head %}
    <link href="{{ static("movie/css/quality-selector.css") }}" rel="stylesheet">
    <link href="{{ static("movie/css/video-js.css") }}" rel="stylesheet" />
    <link href="{{ static("movie/css/detail.css") }}" rel="stylesheet">

    <script src="{{ static("movie/js/video.min.js") }}"></script>
    <script src="{{ static("movie/js/silvermine-videojs-quality-selector.min.js") }}"></script>
    <script src="{{ static("movie/js/change-episode.js") }}"></script>

{% endblock head %}

{% block body %}

    <center>
        <h4>{{ object }}: {{ season }}</h4>
    </center>

    <hr>

    {% if season_list|length > 1 %}

        <center>
            <h4>Seasons</h4>
        </center>
        {% for num in season_list %}
           <a href="{{ url("detail", slug=object.slug, season=num) }}" class="btn {% if season.number == num %}btn-primary{% else %}btn-info{% endif %}">{{ num }}</a>
        {% endfor %}
        <hr>
    {% endif %}

    <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="640" height="264" data-setup="{}">

    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
    </video>

    <hr>

    <div id="episode-selector" anime="{{ object.slug }}" season="{{ season.number }}" episode="{{ episode.number }}">
        {% if episode_list|length > 1 %}
            {% for num in episode_list %}
                {% if episode.number == num %}
                    <button id="episode-selected" class="btn btn-primary">{{ num }}</button>
                {% else %}
                    <button id="episode-{{ num }}"class="btn btn-info">{{ num }}</button>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>


    {% if form %}
    <form method="post" action="{{ url("review", slug=object.slug, season=season.number) }}"> {% csrf_token %}
        {{ form.as_p() }}
        <button class="btn btn-primary btn-sm">Send</button>
    </form>
    {% else %}
        <center>
            <h5>Authorize to post review</h5>
        </center>
    {% endif %}

    {% if reviews|length > 0 %}
        <hr>
        {% for review in reviews %}
            <p>{{ review.user }}: {{review.text }} | Date: {{ review.datetime }}</p>
        {% endfor %}
    {% endif %}

    <script>
      var options = {
           controlBar: {
              children: [
                 'playToggle',
                 'CurrentTimeDisplay',
                 'TimeDivider',
                 'DurationDisplay',
                 'progressControl',
                 'volumePanel',
                 'qualitySelector',
                 'pictureInPictureToggle',
                 'fullscreenToggle',
              ],
           },
        };
      var player = videojs('my-video', options, function () {});

    </script>


{% endblock body %}