{% extends 'base.jinja' %}

{% block body %}

    <div class="container">
        <div class="row">
			<div class="col-md-12">
                <center><h4>News</h4></center>
                <br>
                {% for object in page_obj %}
                    <article class="card card-full hover-a py-4 post-1123 post type-post status-publish format-standard has-post-thumbnail hentry category-cars category-travel tag-racing tag-travel" id="post-1123">
                        <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                            <!--title-->
                            <h3 class="card-title h2 h3-sm h2-md">
                                <a href="{{ object.get_absolute_url() }}">{{ object.name }}</a>
                            </h3>
                            <!--description-->
                            <p class="card-text">{{ object.description|safe }}</p>
                            <div class="card-text mb-2 text-muted small">
                                <time class="news-date">{{ object.date|date("d.m.Y, G:i") }}</time>
                            </div>
                        </div>
                    </article>
                    <br>
                {% endfor %}
            </div>
    	</div>
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
        <nav>
          <ul class="pagination justify-content-center">
              {% if page_obj.has_previous() %}
                   <a class="page-link" href="?page={{ page_obj.previous_page_number() }}">Previous</a>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
              {% endif %}

              {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number|add(-1 - settings.paginator_pages_show) < i < page_obj.number|add(1 + settings.paginator_pages_show) %}
                        {% if i == page_obj.number %}
                            <li class="page-item page-link active">{{ i }}</li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endif %}
              {% endfor %}

              {% if page_obj.has_next() %}
                   <a class="page-link" href="?page={{ page_obj.next_page_number() }}">Next</a>
              {% else %}
                  <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                  </li>
              {% endif %}
          </ul>
        </nav>
    {% endif %}

{% endblock body %}